* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
}

.container h1 {
    font-size: 50px;
}

.container h1 span {
    color: #ffff76;
}

.input-box {
    margin: 40px 0;
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
}

.input-box button {
    background: #ffff76;
    border: none;
    outline: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

#result {
    font-size: 20px;
}

#result span {
    color: #ffff76;
}
